<!-- 1. extend from base-->
{% extends "base.html" %}

{% block title %}
Survey
{% endblock %}

{% block header %}
<!-- super function here -->
{{ super() }}
<form action="logout" id="logout">
    <div class="form-group">
        <span id="username">Logged in as {{ name }}</span>
        <input class="form-control action-button" id="logout-button" type="submit" value="Logout">
    </div>
</form>
{% endblock %}


<!-- 1. extend from content block from the base-->
{% block content %}
<div class="main-container">
    <form>
        <h3>Your Favorites</h3>
        <div class="form-group">
            <label class="survey-item sm-label">Favorite color?</label>
            <input class="form-control sm-input" type="text" name="color">
        </div>
        <div class="form-group">
            <label class="survey-item sm-label">Favorite food?</label>
            <input class="form-control sm-input" type="text" name="food">
        </div>
        <div class="form-group">
            <label class="survey-item sm-label">Favorite vacation spot?</label>
            <input class="form-control sm-input" type="text" name="vacation">
        </div>

        <h3>Front-End Improvement</h3>
        <div class="form-group">
            <label class="survey-item sm-label">What was your front end proficiency before IO Lab?</label>
            <input class="form-control slider" type="range" min="1" max="5" step=".5" name="front-end-before" id="fe-before">
            <span></span>
        </div>
        <div class="form-group">
            <label class="survey-item sm-label">How about after the front-end module?</label>
            <input class="form-control slider" type="range" min="1" max="5" step=".5" name="front-end-after" id="fe-after">
            <span></span>
        </div>
        <button class="action-button" id="submit-survey">Submit</button>
    </form>
</div>
{% endblock %}
